#left_panel > dropdown {
    margin: 6px 12px 6px 12px;
}

#left_panel > entry.search {
    margin: 6px 12px 6px 12px;
}

#left_panel > spinbutton {
    margin: 6px 12px 6px 12px;
}

#right_box {
    padding: 1px 12px 6px 12px;
}

#test_button, #read_button {
    margin: 6px 6px 6px 12px;
}

#write_button, #erase_button {
    margin: 6px 12px 6px 6px;
}

#progress_bar {
    margin: 6px 12px 6px 12px;
}

#hex_cursor_frame {
    color: @accent_bg_color;
}

#hex_cursor_bg {
    color: @accent_bg_color;
}

#vbox > entry {
    margin: 5px 0 5px 0;
}

#vbox > spinbutton {
    margin: 5px 0 5px 0;
}

#vbox > dropdown {
    margin: 5px 0 5px 0;
}

#chip-editor-btn {
    margin: 12px;
}
